body {
  background-color: black;
}

/* Não consegui utilizar flexbox com o canvas aqui */
#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background: white;
}
